{{$data := json (getenv "SYNC_BLOCK_JSON")}}
{{range $data.syncblock}}
   source= {{.source}}
   target= {{.target}}
   owner_and_group= {{.owner_and_group}}
   access_modes= {{.access_modes}}
   interval={{.interval}}
   
   while inotifywait -r -e modify,create,delete $source ; do
      rsync -avz $source $target
      chmod -R $target/
      chown -hR $target/
   done

{{end}}
